<div class="container mx-auto text-white p-4">
    <h2 class="text-2xl font-bold mb-4">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-400 font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "appearance-none bg-gray-800 rounded-md p-2 w-full text-gray-300" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-400 font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none bg-gray-800 rounded-md p-2 w-full text-gray-300" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4">
          <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
          <%= f.label :remember_me, class: "text-sm" %>
        </div>
      <% end %>

      <div class="mb-4">
        <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
</div>