<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.author, post %> - <%= post.location %> - <%= post.rent %> - <%= post.preferred_gender %>
    </li>
  <% end %>
</ul>
